<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Datos de los proyectos de la persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Datos de los proyectos de la persona</h1>
        <a th:href="@{/admin/ver_tabla_proyecto_admin}">Regresar</a>
        <br/>
        <form th:action="@{/admin/agregar_proyecto/guardar}" method="post" th:object="${proyecto}">
            <input type="hidden" name="idProyecto" th:field="${proyecto.idProyecto}"/>
            <br/>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" th:field="${proyecto.nombre}"/>
            <br/>
            <label for="fechaInicio">Fecha de inicio del proyecto:</label>
            <input type="text" name="fechaInicio" th:field="${proyecto.fechaInicio}"/>
            <br/>
            <label for="fechaFin">Fecha de fin del proyecto:</label>
            <input type="text" name="fechaFin" th:field="${proyecto.fechaFin}"/>
            <br/>
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" th:field="${proyecto.descripcion}"/>
            <br/>
            <label for="personaId">Id de la persona:</label>
            <input type="text" name="personaId" th:field="${proyecto.personaId}"/>
            <br/>
            <label for="lenguaje">Lenguaje:</label>
            <input type="text" name="lenguaje" th:field="${proyecto.lenguaje}"/>
            <br/>
            <label for="urlImg">Url de la imagen:</label>
            <input type="text" name="urlImg" th:field="${proyecto.urlImg}"/>
            <br/>
            <label for="urlGitHub">Url de github:</label>
            <input type="text" name="urlGitHub" th:field="${proyecto.urlGitHub}"/>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>